@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

html, body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 63px;
    padding-bottom: 30px;
}

.header__logo {
    font-weight: 400;
    font-size: 80px;
    color: #000;
    margin-bottom: 40px;
}

.accent-color {
    color: #4bcaff;
}

.header__nav-list {
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 160px;
    background-color: #35444F;
    width: 1280px;
    height: 69px;
    margin-bottom: 48px;

}

.header__nav-item {
    border-left: 1px solid #fff;
    padding: 20px 32px 20px 32px;
    margin: 0;

}

.header__nav-item:last-child {
    border-right: 1px solid #fff;
}

.header__nav-item:hover {
    background-color: #222F3A;
    transition: all .3s;
}

.nav-link {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;

}

/*----------------ASIDE----------------*/

.aside__nav {
    width: 344px;
    height: 399px;
    border: 1px solid #495863;
    padding: 0;
    margin: 0px 52px 0px 0px;


}

.aside__item {
    list-style: none;
    font-weight: 400;
    font-size: 27px;
    color: #485863;
    padding: 26px 0px 21px 42px;
    transition: all .3s;

}

.aside__item:hover {
    background: #dbdbdb;
    padding-left: 70px;
}



/*--------------ABOUT US----------------*/
.wrapper {
    display: flex;
}

.about__us-image {
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.about__us-img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.about__us-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    margin-bottom: 0;
    margin-top: 13px;
}

.about__us-text:last-child {
    margin-bottom: 54px;
}

/*--------------FOOTER----------------*/

.page__footer {
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 0 auto;


}

.footer__content {
    display: flex;

}

.footer__nav {
    display: flex;
    margin: 0;
    align-items: center;


}

.footer__item {
    list-style: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    margin-right: 25px;

}

.footer__item:last-child {
    margin-right: 125px;
}

.footer-link {
    color: #0c1927;
    transition: all .3s;
}

.footer-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    padding-bottom: 5px;
}

.footer__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;

}